# Scraping investor's portfolio data  from Dataroma

In this post we will provide the code to get the portfolio data from dataroma.com.

In [1]:
import pandas as pd
import urllib
from bs4 import BeautifulSoup

In [2]:
my_url = "https://www.dataroma.com/m/home.php"

In [3]:
my_url = urllib.request.urlopen(my_url)

In [4]:
soup = BeautifulSoup(my_url.read(), 'html.parser')

In [5]:
links = []
data = []

for t in soup.find_all('li'):
    for a in t.find_all('a'):
        links.append(a['href'])
        
for t in soup.find_all('li'):
    for a in t.find_all('a'):
        data.append(a.text)

In [6]:
links = ['https://dataroma.com' + l for l in links]

raw_df = pd.DataFrame({'name':data,
              'links':links})

In [7]:
raw_df = raw_df.iloc[8:,:]

In [8]:
raw_df.head()

,name,links
8,David Rolfe - Wedgewood Partners Updated 14 Fe...,https://dataroma.com/m/holdings.php?m=WP
9,Nelson Peltz - Trian Fund Management Updated 1...,https://dataroma.com/m/holdings.php?m=TF
10,Jeffrey Ubben - ValueAct Capital Updated 14 F...,https://dataroma.com/m/holdings.php?m=VA
11,Eddie Lampert - RBS Partners Updated 14 Feb 2020,https://dataroma.com/m/holdings.php?m=EL
12,Bill & Melinda Gates Foundation Trust Updated ...,https://dataroma.com/m/holdings.php?m=GFT

In [9]:
raw_df[['investor_name', 'update_date']] = raw_df['name'].str.split('Updated', expand = True)

In [10]:
raw_df[['investor_name', 'fund_name', '_']] = raw_df['investor_name'].str.split('-', expand = True)

In [11]:
raw_df = raw_df[['investor_name', 'fund_name', 'links']]

In [12]:
raw_df.head()

,investor_name,fund_name,links
8,David Rolfe,Wedgewood Partners,https://dataroma.com/m/holdings.php?m=WP
9,Nelson Peltz,Trian Fund Management,https://dataroma.com/m/holdings.php?m=TF
10,Jeffrey Ubben,ValueAct Capital,https://dataroma.com/m/holdings.php?m=VA
11,Eddie Lampert,RBS Partners,https://dataroma.com/m/holdings.php?m=EL
12,Bill & Melinda Gates Foundation Trust,None,https://dataroma.com/m/holdings.php?m=GFT

Now we get the data for individual investor.

In [13]:
raw_df[raw_df['investor_name'].str.contains('Warren')]['links'].values.tolist()

['https://dataroma.com/m/holdings.php?m=BRK']

In [14]:
raw_df['investor_name'].values

array(['David Rolfe ', 'Nelson Peltz ', 'Jeffrey Ubben ',
       'Eddie Lampert ', 'Bill & Melinda Gates Foundation Trust ',
       'Stephen Mandel ', 'David Abrams ', 'David Einhorn ',
       'Bruce Berkowitz ', 'Bill Ackman ', 'David Tepper ', 'Carl Icahn ',
       'Warren Buffett ', 'Alex Roepers ', 'Chuck Akre ', 'Allan Mecham ',
       'Michael Price ', 'Bill Miller ', 'Pat Dorsey ', 'Leon Cooperman ',
       'Lee Ainslie ', 'Howard Marks ', 'Prem Watsa ', 'Glenn Greenberg ',
       'Chris Hohn ', 'Terry Smith ', 'Daniel Loeb ', 'Seth Klarman ',
       'Christopher Bloomstran ', 'Third Avenue Management ',
       'Mohnish Pabrai ', 'Jefferies ', 'Robert Olstein ',
       'Thomas Russo ', 'Thomas Gayner ', 'William Von Mueffling ',
       'Kahn Brothers Advisors ', 'Wallace Weitz ', 'Tweedy Browne Co. ',
       'Guy Spier ', 'Sam Peters ', 'Dodge & Cox ', 'Richard Pzena ',
       'Mairs & Power ', 'Steven Romick ', 'FPA ', 'Mark Hillman ',
       'John Rogers ', 'Charles Bobrinskoy ', 'Robert Zagunis ',
       'Charlie Munger ', 'Jean', 'Ruane, Cunniff & Goldfarb ',
       'Meridian Funds ', 'Mason Hawkins ', 'Christopher Davis ',
       'Bill Nasgovitz ', 'Donald Yacktman ',
       'Thornburg Investment Management ', 'Bill Nygren ', 'David Katz ',
       'Robert Torray ', 'Francis Chou ', 'Harry Burn '], dtype=object)

These are all the invetor names available.

Lets try Bill Gates.

In [15]:
raw_df[raw_df['investor_name'].str.contains('Bill')]

,investor_name,fund_name,links
12,Bill & Melinda Gates Foundation Trust,None,https://dataroma.com/m/holdings.php?m=GFT
17,Bill Ackman,Pershing Square Capital Management,https://dataroma.com/m/holdings.php?m=psc
25,Bill Miller,Miller Value Partners,https://dataroma.com/m/holdings.php?m=LMM
64,Bill Nasgovitz,Heartland Select Value,https://dataroma.com/m/holdings.php?m=HRSVX
67,Bill Nygren,Oakmark Select,https://dataroma.com/m/holdings.php?m=oaklx

That returned more than one value. Lets Try Bill & Melinda

In [16]:
raw_df[raw_df['investor_name'].str.contains('Bill & Melinda')]

,investor_name,fund_name,links
12,Bill & Melinda Gates Foundation Trust,None,https://dataroma.com/m/holdings.php?m=GFT

In [17]:
port_data = [urllib.request.urlopen(a) for a in raw_df[raw_df['investor_name'].str.contains('Bill & Melinda')]['links'].values.tolist()]

In [18]:
for i in port_data:
    soup = BeautifulSoup(i.read(),'html.parser')

In [19]:
tbody = soup.find('tbody')

In [20]:
data = []

for d in tbody:
    data.append(d.text.split('\n'))

In [21]:
df = pd.DataFrame(data)

In [22]:
df.head(10)

,0,1,2,3,4,5,6,7,8
0,,≡,BRK.B - Berkshire Hathaway CL B,52.94,"49,912,525",Reduce 9.11%,$226.50,"$11,305,187,000",
1,,≡,WM - Waste Management Inc.,9.94,"18,633,672",,$113.96,"$2,123,493,000",
2,,≡,CAT - Caterpillar Inc.,7.79,"11,260,857",,$147.68,"$1,663,003,000",
3,,≡,CNI - Canadian Natl Railway Co.,7.25,"17,126,874",,$90.45,"$1,549,126,000",
4,,≡,WMT - Wal-Mart Stores,6.46,"11,603,000",,$118.84,"$1,378,901,000",
5,,≡,ECL - Ecolab Inc.,3.95,"4,366,426",,$192.99,"$842,677,000",
6,,≡,CCI - Crown Castle International Corp.,3.55,"5,332,900",,$142.15,"$758,072,000",
7,,≡,UPS - United Parcel Service,2.48,"4,525,329",,$117.06,"$529,735,000",
8,,≡,FDX - FedEx Corp.,2.14,"3,024,999",,$151.21,"$457,410,000",
9,,≡,KOF - Coca-Cola FEMSA S A CV,1.76,"6,214,719",,$60.62,"$376,736,000",

In [23]:
df = df.drop(columns=[0,1, 8])

In [24]:
df.columns = ['Stock', 'portfolio_percent', 'shares', 'recent', 'reported_price', 'value']

In [25]:
df[['symbol', 'company']] = df['Stock'].str.split(r' - ',expand = True)

In [26]:
df = df[['symbol', 'company', 'portfolio_percent', 'shares', 'recent', 'reported_price', 'value']]

In [27]:
df

,symbol,company,portfolio_percent,shares,recent,reported_price,value
0,BRK.B,Berkshire Hathaway CL B,52.94,"49,912,525",Reduce 9.11%,$226.50,"$11,305,187,000"
1,WM,Waste Management Inc.,9.94,"18,633,672",,$113.96,"$2,123,493,000"
2,CAT,Caterpillar Inc.,7.79,"11,260,857",,$147.68,"$1,663,003,000"
3,CNI,Canadian Natl Railway Co.,7.25,"17,126,874",,$90.45,"$1,549,126,000"
4,WMT,Wal-Mart Stores,6.46,"11,603,000",,$118.84,"$1,378,901,000"
5,ECL,Ecolab Inc.,3.95,"4,366,426",,$192.99,"$842,677,000"
6,CCI,Crown Castle International Corp.,3.55,"5,332,900",,$142.15,"$758,072,000"
7,UPS,United Parcel Service,2.48,"4,525,329",,$117.06,"$529,735,000"
8,FDX,FedEx Corp.,2.14,"3,024,999",,$151.21,"$457,410,000"
9,KOF,Coca-Cola FEMSA S A CV,1.76,"6,214,719",,$60.62,"$376,736,000"
10,TV,Grupo Televisa SA,0.93,"16,879,104",,$11.73,"$197,992,000"
11,LBTYK,Liberty Global Inc. C,0.37,"3,639,349",,$21.80,"$79,320,000"
12,LBTYA,Liberty Global Inc.,0.23,"2,119,515",,$22.74,"$48,198,000"
13,ARCO,Arcos Dorados Holdings Inc.,0.12,"3,060,500",,$8.10,"$24,790,000"
14,LILAK,Liberty LiLAC Group C,0.06,"636,044",,$19.46,"$12,377,000"
15,LILA,Liberty LiLAC Group A,0.03,"370,424",,$19.30,"$7,149,000"

---
#### Create a function

In [28]:
def get_investor_portfolio(name):
    
    n = name.title()
    
    port_data = [urllib.request.urlopen(a) for a in raw_df[raw_df['investor_name'].str.contains(n)]['links'].values.tolist()]
    
    for i in port_data:
        soup = BeautifulSoup(i.read(),'html.parser')
    
    tbody = soup.find('tbody')
    
    data = []

    for d in tbody:
        data.append(d.text.split('\n'))
        
    df = pd.DataFrame(data)
    
    df = df.drop(columns=[0,1, 8])
    df.columns = ['Stock', 'portfolio_percent', 'shares', 'recent', 'reported_price', 'value']
    
    df[['symbol', 'company']] = df['Stock'].str.split(r' - ',expand = True)
    
    df = df[['symbol', 'company', 'portfolio_percent', 'shares', 'recent', 'reported_price', 'value']]
    
    return df

Lets try our function.

First lets get the Portfolio for Bill Ackman

In [29]:
get_investor_portfolio('Ackman')

,symbol,company,portfolio_percent,shares,recent,reported_price,value
0,CMG,Chipotle Mexican Grill Inc.,22.03,"1,724,310",,$837.11,"$1,443,437,000"
1,HLT,Hilton Worldwide Holdings,17.87,"10,556,805",,$110.91,"$1,170,855,000"
2,LOW,Lowe's Cos.,15.74,"8,613,212",,$119.76,"$1,031,518,000"
3,QSR,Restaurant Brands International,14.68,"15,084,304",,$63.77,"$961,926,000"
4,BRK.B,Berkshire Hathaway CL B,13.88,"4,015,594",,$226.50,"$909,532,000"
5,SBUX,Starbucks Corp.,7.32,"5,457,954",Reduce 41.40%,$87.92,"$479,863,000"
6,HHC,Howard Hughes Corp.,4.25,"2,197,389",Add 83.91%,$126.80,"$278,629,000"
7,A,Agilent Technologies,4.23,"3,248,114",Add 11.39%,$85.31,"$277,097,000"

Now lets try Daniel Loeb

In [30]:
get_investor_portfolio('Loeb')

,symbol,company,portfolio_percent,shares,recent,reported_price,value
0,BAX,Baxter International Inc.,16.83,"17,500,000",Add 3.86%,$83.62,"$1,463,350,000"
1,UTX,United Technologies,8.97,"5,207,000",Reduce 13.22%,$149.76,"$779,800,000"
2,CPB,Campbell Soup,8.19,"14,400,000",Reduce 15.29%,$49.42,"$711,648,000"
3,AGN,Allergan Plc,7.92,"3,600,000",,$191.17,"$688,212,000"
4,DHR,Danaher Corp.,6.55,"3,710,000",,$153.48,"$569,411,000"
5,CRM,Salesforce.com,4.12,"2,200,000",Reduce 12.00%,$162.64,"$357,808,000"
6,FIS,Fidelity National Information Services,4.00,"2,500,000",Add 0.00%,$139.09,"$347,725,000"
7,BURL,Burlington Stores Inc.,3.67,"1,400,000",Reduce 6.67%,$228.03,"$319,242,000"
8,ADBE,Adobe Inc.,3.60,"950,000",Add 15.15%,$329.81,"$313,320,000"
9,IQV,IQVIA Holdings Inc.,3.55,"2,000,000",,$154.51,"$309,020,000"
10,IAA,IAA Inc.,3.52,"6,500,000",Buy,$47.06,"$305,890,000"
11,V,Visa Inc.,3.24,"1,500,000",,$187.90,"$281,850,000"
12,BSX,Boston Scientific,2.60,"5,000,000",,$45.22,"$226,100,000"
13,SPGI,S&P Global Inc.,2.51,"800,000",,$273.05,"$218,440,000"
14,FOXA,Fox Corporation,2.13,"5,000,000",Reduce 37.50%,$37.07,"$185,350,000"
15,FPAC,Far Point Acquisition Corp.,1.86,"15,692,500",,$10.33,"$162,104,000"
16,FIVE,Five Below Inc.,1.76,"1,200,000",Add 41.18%,$127.86,"$153,432,000"
17,CNC,Centene Corp.,1.74,"2,400,000",,$62.87,"$150,888,000"
18,AMTD,TD Ameritrade Holding Corp.,1.72,"3,000,000",Buy,$49.70,"$149,100,000"
19,AMZN,Amazon Corp.,1.49,"70,000",Buy,$1847.84,"$129,349,000"
20,AVTR,Avantor arinc.,1.46,"7,000,000",Buy,$18.15,"$127,050,000"
21,BKI,Black Knight Inc.,1.41,"1,900,000",Add 8.57%,$64.48,"$122,512,000"
22,RTN,Raytheon Co.,1.40,"555,200",Buy,$219.74,"$122,000,000"
23,VIAC,ViacomCBS Inc.,1.33,"2,750,000",Buy,$41.97,"$115,418,000"
24,SNE,Sony Corp.,1.17,"1,500,000",,$68.00,"$102,000,000"
25,SCHW,Charles Schwab,0.55,"1,000,000",Buy,$47.56,"$47,560,000"
26,FPAC.UN,Far Point Acquisition Corp. Unit,0.50,"4,000,000",,$10.80,"$43,200,000"
27,KDMN,Kadmon Holdings,0.49,"9,407,745",,$4.53,"$42,617,000"
28,GO,Grocery Outlet Holding Corp.,0.43,"1,150,000",Add 538.89%,$32.45,"$37,318,000"
29,XP,XP Inc.,0.35,"800,000",Buy,$38.52,"$30,816,000"
30,RACE,Ferrari NV,0.29,"150,000",Buy,$165.54,"$24,831,000"
31,BMY.R,Bristol-Myers Squibb Rights,0.24,"7,000,000",Buy,$3.01,"$21,070,000"
32,GTT,GTT Communications,0.20,"1,520,000",Reduce 50.41%,$11.35,"$17,252,000"
33,RPLA/U,Replay Acquisition Corp. Unit,0.12,"1,000,000",,$10.37,"$10,370,000"
34,CNNE,Cannae Holdings Inc.,0.07,"175,000",Buy,$37.19,"$6,508,000"
35,CCO,Clear Channel Outdoor Holdings,0.01,"250,000",Reduce 95.24%,$2.86,"$715,000"

Finally lets try Warrne Buffett.

In [31]:
get_investor_portfolio('Buffett')

,symbol,company,portfolio_percent,shares,recent,reported_price,value
0,AAPL,Apple Inc.,29.74,"245,155,566",Reduce 1.48%,$293.65,"$71,989,933,000"
1,BAC,Bank of America Corp.,13.46,"925,008,600",Reduce 0.24%,$35.22,"$32,578,803,000"
2,KO,Coca Cola Co.,9.15,"400,000,000",,$55.35,"$22,140,000,000"
3,AXP,American Express,7.80,"151,610,700",,$124.49,"$18,874,016,000"
4,WFC,Wells Fargo,7.18,"323,212,918",Reduce 14.58%,$53.80,"$17,388,855,000"
5,KHC,Kraft Heinz Co.,4.32,"325,634,818",,$32.13,"$10,462,647,000"
6,JPM,JPMorgan Chase & Co.,3.43,"59,514,932",,$139.40,"$8,296,382,000"
7,USB,U.S. Bancorp,3.24,"132,459,618",,$59.29,"$7,853,532,000"
8,MCO,Moody's Corp.,2.42,"24,669,778",,$237.41,"$5,856,852,000"
9,DAL,Delta Air Lines Inc.,1.71,"70,910,456",,$58.48,"$4,146,844,000"
10,BK,Bank of New York Mellon Corp.,1.66,"79,765,057",Reduce 1.45%,$50.33,"$4,014,575,000"
11,LUV,Southwest Airlines,1.20,"53,649,213",,$53.98,"$2,895,985,000"
12,DVA,DaVita HealthCare Partners,1.20,"38,565,570",,$75.03,"$2,893,575,000"
13,GS,Goldman Sachs Group,1.14,"12,004,751",Reduce 34.59%,$229.93,"$2,760,252,000"
14,GM,General Motors,1.13,"75,000,000",Add 3.78%,$36.60,"$2,745,000,000"
15,CHTR,Charter Communications,1.09,"5,426,609",,$485.08,"$2,632,339,000"
16,VRSN,Verisign Inc.,1.03,"12,952,745",,$192.68,"$2,495,735,000"
17,V,Visa Inc.,0.82,"10,562,460",,$187.90,"$1,984,686,000"
18,UAL,United Airlines Holdings Inc.,0.80,"21,938,642",,$88.09,"$1,932,575,000"
19,LSXMK,Liberty SiriusXM Series C,0.62,"31,090,985",,$48.14,"$1,496,721,000"
20,MA,Mastercard Inc.,0.61,"4,934,756",,$298.59,"$1,473,469,000"
21,PNC,PNC Financial Services,0.57,"8,671,054",,$159.63,"$1,384,160,000"
22,COST,Costco Co.,0.53,"4,333,363",,$293.92,"$1,273,662,000"
23,AAL,American Airlines Group Inc.,0.50,"42,500,000",Reduce 2.75%,$28.68,"$1,218,900,000"
24,AMZN,Amazon Corp.,0.41,"537,300",,$1847.84,"$992,844,000"
25,SIRI,Sirius XM Holdings Inc.,0.40,"136,275,729",,$7.15,"$974,372,000"
26,MTB,M&T Bank Corp.,0.38,"5,382,040",,$169.75,"$913,602,000"
27,OXY,Occidental Petroleum,0.32,"18,933,054",Add 153.54%,$41.21,"$780,231,000"
28,SYF,Synchrony Financial,0.31,"20,803,000",,$36.01,"$749,116,000"
29,LSXMA,Liberty Sirius XM Series A,0.30,"14,860,360",,$48.34,"$718,350,000"
30,AXTA,Axalta Coating Systems Ltd.,0.30,"24,264,000",,$30.40,"$737,626,000"
31,STOR,STORE Capital Corp.,0.29,"18,621,674",,$37.24,"$693,471,000"
32,GL,Globe Life Inc.,0.28,"6,353,727",,$105.25,"$668,730,000"
33,STNE,StoneCo Ltd.,0.23,"14,166,748",,$39.89,"$565,112,000"
34,KR,Kroger Co.,0.23,"18,940,079",Buy,$28.99,"$549,073,000"
35,QSR,Restaurant Brands International,0.22,"8,438,225",,$63.77,"$538,106,000"
36,SU,Suncor Energy Inc.,0.20,"15,019,031",Add 39.61%,$32.80,"$492,624,000"
37,LBTYA,Liberty Global Inc.,0.19,"19,791,000",,$22.74,"$450,047,000"
38,TEVA,Teva Pharmaceutical Industries Ltd.,0.18,"43,249,295",,$9.80,"$423,843,000"
39,RH,RH,0.15,"1,708,348",Add 41.44%,$213.50,"$364,732,000"
40,BIIB,Biogen Inc.,0.08,"648,447",Buy,$296.73,"$192,414,000"
41,LBTYK,Liberty Global Inc. C,0.07,"7,346,968",,$21.79,"$160,127,000"
42,LILA,Liberty LiLAC Group A,0.02,"2,714,854",,$19.30,"$52,397,000"
43,JNJ,Johnson & Johnson,0.02,"327,100",,$145.87,"$47,714,000"
44,PG,Procter & Gamble,0.02,"315,400",,$124.90,"$39,393,000"
45,TRV,Travelers Companies Inc.,0.02,"312,379",Reduce 94.76%,$136.95,"$42,780,000"
46,SPY,SPDR S&P 500 ETF Trust,0.01,"39,400",Buy,$321.85,"$12,681,000"
47,LILAK,Liberty LiLAC Group C,0.01,"1,284,020",,$19.46,"$24,987,000"
48,VOO,Vanguard S&P 500 ETF,0.01,"43,000",Buy,$295.79,"$12,719,000"
49,MDLZ,Mondelez International,0.01,"578,000",,$55.08,"$31,836,000"
50,PSX,Phillips 66,0.01,"227,436",Reduce 95.61%,$111.41,"$25,339,000"
51,UPS,United Parcel Service,0.00,"59,400",,$117.05,"$6,953,000"